@model CreateSliderDto
@{
    ViewData["Title"] = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alanı İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Öne Çıkan Alanı Ekleme</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Başlık 1</label>
                                <input type="text" asp-for="Title" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Başlık 2</label>
                                <input type="text" asp-for="Title2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Başlık 3</label>
                                <input type="text" asp-for="Title3" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açıklama 1</label>
                                <input type="text" asp-for="Description" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açıklama 2</label>
                                <input type="text" asp-for="Description2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açıklama 3</label>
                                <input type="text" asp-for="Description3" class="form-control">
                            </div>
                            <br />
                            <button class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
