@model CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim Bilgileri İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni İletişim Bilgisi Ekleme</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Konum</label>
                                <input type="text" asp-for="Location" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Telefon Numarası</label>
                                <input type="text" asp-for="Phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Mail</label>
                                <input type="email" asp-for="Mail" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Footer Başlık</label>
                                <input type="text" asp-for="FooterTitle" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Footer Açıklaması</label>
                                <input type="text" asp-for="FooterDescription" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açık Günler</label>
                                <input type="text" asp-for="OpenDays" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açık Günler Açıklaması</label>
                                <input type="text" asp-for="OpenDaysDescription" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Açık Gün Saatleri</label>
                                <input type="text" asp-for="OpenHours" class="form-control">
                            </div>
                            <br />
                            <button class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
