@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="content">
    <div class="container-fluid">

        <script type="text/javascript">
            $(document).ready(() => {
                var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7183/SignalRHub").build();
                $("#connstatus").text(connection.state);

                connection.start().then(() => {
                    $("#connstatus").text(connection.state);

                    setInterval(() => {
                        connection.invoke("GetBookingList");
                    }, 1000);

                }).catch((err) => { console.log(err) });

                connection.on("ReceiveBookingList", (value) => {                                     
                    let tablehtml = `<table class="table mt-3">
                                     <thead>
                                         <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Adı ve Soyadı</th>
                                            <th scope="col">Telefon Numarası</th>
                                            <th scope="col">Kişi Sayısı</th>
                                            <th scope="col">Tarih</th>
                                            <th scope="col">Rezervasyon Durumu</th>
                                            <th scope="col">Sil</th>
                                            <th scope="col">Güncelle</th>
                                            <th scope="col">Onayla</th>
                                            <th scope="col">İptal Et</th>
                                         </tr>
                                     </thead>
                                     <tbody>`
                    $.each(value, (index, item) => {
                        tablehtml += `<tr>
                                         <td>${item.bookingId}</td>
                                         <td>${item.name}</td>
                                         <td>${item.phone}</td>
                                         <td>${item.personCount}</td>
                                         <td>
                                              ${new Date(item.bookDate).toLocaleString('tr-TR', {
                                                day: '2-digit',
                                                month: 'short',
                                                year: 'numeric',
                                                hour: '2-digit',
                                                minute: '2-digit',
                                                hour12: false
                                              }).replace(',', ' -')}
                                         </td>
                                         <td>
                                          <span class="badge
                                            ${item.description === 'Rezervasyon Onaylandı' ? 'badge-success' :
                                              item.description === 'Rezervasyon Beklemede' ? 'badge-warning' :
                                              item.description === 'Rezervasyon İptal Edildi' ? 'badge-dark' :
                                              'badge-secondary'}">
                                            ${item.description}
                                          </span>
                                        </td>
                                         <td><a href="/Booking/DeleteBooking/${item.bookingId}" class="btn btn-outline-danger">Sil</a></td>
                                         <td><a href="/Booking/UpdateBooking/${item.bookingId}" class="btn btn-outline-warning">Güncelle</a></td>
                                         <td><a href="/Booking/ConfirmStatus/${item.bookingId}" class="btn btn-outline-primary">Onayla</a></td>
                                         <td><a href="/Booking/CancelStatus/${item.bookingId}" class="btn btn-outline-dark">İptal Et</a></td>
                                      </tr>`
                    });
                    tablehtml += `</tbody></table>`;
                    $("#bookingList").html(tablehtml);
                });
            });
        </script>

        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Rezervasyon Listeleme (SignalR)</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Her 5 saniyede bir güncellenen rezervasyonlar aşağıdan takip edilebilir.
                        </div>
                        <div id="bookingList">
                            
                        </div>
                        <a href="/Booking/CreateBooking" class="btn btn-outline-primary">Yeni Rezervasyon Oluştur</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
